USE [master]
GO
/****** Object:  Database [TP08]    Script Date: 11/23/2022 7:10:33 PM ******/
CREATE DATABASE [TP08]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP08', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TP08.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP08_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TP08_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP08].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP08]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 11/23/2022 7:10:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 11/23/2022 7:10:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[IdPelicula] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Foto] [varchar](max) NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[Estrellas] [int] NOT NULL,
	[FkCategoria] [int] NOT NULL,
 CONSTRAINT [PK_Pelicula] PRIMARY KEY CLUSTERED 
(
	[IdPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reseña]    Script Date: 11/23/2022 7:10:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reseña](
	[IdReseña] [int] IDENTITY(1,1) NOT NULL,
	[Contenido] [varchar](50) NOT NULL,
	[FkUsuario] [int] NOT NULL,
	[FkPelicula] [int] NOT NULL,
 CONSTRAINT [PK_Reseña] PRIMARY KEY CLUSTERED 
(
	[IdReseña] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/23/2022 7:10:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre]) VALUES (1, N'Terror')
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre]) VALUES (2, N'Comedia')
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre]) VALUES (3, N'Romance')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Pelicula] ON 

INSERT [dbo].[Pelicula] ([IdPelicula], [Nombre], [Foto], [Descripcion], [Estrellas], [FkCategoria]) VALUES (8, N'Toy Story 3', N'https://img.remediosdigitales.com/2a03d7/toy-story-3/450_1000.jpg', N'Woody (Tom Hanks), Buzz (Tim Allen) y el resto de los juguetes terminan en una guardería luego de que Andy se va al colegio.', 3, 2)
INSERT [dbo].[Pelicula] ([IdPelicula], [Nombre], [Foto], [Descripcion], [Estrellas], [FkCategoria]) VALUES (11, N'Cars 2', N'https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/577D3897AA79929283F846D284C2413411096F842EB4EEF7E781CAA887169A1F/scale?width=1200&aspectRatio=1.78&format=jpeg', N'De camino al prestigiado campeonato Copa Pistón, un automóvil de carreras que sólo se preocupa por ganar aprende sobre lo que realmente es importante en la vida de varios vehículos que viven en un pueblo a lo largo de la histórica Ruta 66.', 3, 2)
INSERT [dbo].[Pelicula] ([IdPelicula], [Nombre], [Foto], [Descripcion], [Estrellas], [FkCategoria]) VALUES (13, N'Titanic', N'https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2022/01/titanic-2577593.jpg?itok=pPjwlyds', N'Una joven de la alta sociedad abandona a su arrogante pretendiente por un artista humilde en el trasatlántico que se hundió durante su viaje inaugural.', 5, 3)
SET IDENTITY_INSERT [dbo].[Pelicula] OFF
GO
SET IDENTITY_INSERT [dbo].[Reseña] ON 

INSERT [dbo].[Reseña] ([IdReseña], [Contenido], [FkUsuario], [FkPelicula]) VALUES (29, N'muy buena esta', 44, 8)
INSERT [dbo].[Reseña] ([IdReseña], [Contenido], [FkUsuario], [FkPelicula]) VALUES (30, N'Es buenisima', 60, 11)
INSERT [dbo].[Reseña] ([IdReseña], [Contenido], [FkUsuario], [FkPelicula]) VALUES (31, N'maso maso', 60, 17)
SET IDENTITY_INSERT [dbo].[Reseña] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre]) VALUES (1, N'Lionel Messi')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre]) VALUES (2, N'Lionel Messi')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre]) VALUES (3, N'Lionel Messi')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Pelicula]  WITH CHECK ADD  CONSTRAINT [FK_Pelicula_Categoria] FOREIGN KEY([FkCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Pelicula] CHECK CONSTRAINT [FK_Pelicula_Categoria]
GO
ALTER TABLE [dbo].[Reseña]  WITH CHECK ADD  CONSTRAINT [FK_Reseña_Pelicula] FOREIGN KEY([FkPelicula])
REFERENCES [dbo].[Pelicula] ([IdPelicula])
GO
ALTER TABLE [dbo].[Reseña] CHECK CONSTRAINT [FK_Reseña_Pelicula]
GO
ALTER TABLE [dbo].[Reseña]  WITH CHECK ADD  CONSTRAINT [FK_Reseña_Usuario] FOREIGN KEY([FkUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Reseña] CHECK CONSTRAINT [FK_Reseña_Usuario]
GO
USE [master]
GO
